name: Integration

on:
  push:
    branches: [main]
  pull_request:
  schedule:
    - cron: "0 5 * * *"

jobs:
  test-install:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v2

      - uses: ./ # equivalent to purescript-contrib/setup-purescript@<branch>
        with:
          purs-tidy: "latest"
          zephyr: "latest"

      - name: Check spago and purs are installed correctly
        run: |
          purs --version
          spago version

      - name: Check purs-tidy is installed
          purs-tidy --help
